{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}
        <form action="{{ url_for('add') }}" method=post class=add-entry>
            <dl>
                <dt>Name:
                <dd><input type=text size=30 name=corporation>
                <dt>City:
                <dd><input type=text size=30 name=city>
                <dd><input type=submit value=Share>
            </dl>
        </form>
    {% endif %}
    <table>
        <tr><th>Название</th><th>Город</th></tr>
        {% for entry in entries %}
            <tr><td>{{ entry.corporation|safe }}</td><td>{{ entry.city|safe }}</td></tr>
        {% endfor %}
    </table>
{% endblock %}